* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

/* section common styles */

section {
    margin-top: 120px;
}

/* nav bar styles */
nav {
    background-color: #FFF;
    ;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
}

.nav_logo {

    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 45px;
    /* gap: 10px; */
    color: #0B0223;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_logo h2 span {

    color: #FF42A5;

}

.nav_logo img {
    height: 40px;
    /* padding-left: 240px; */
    padding-right: 10px;
}

.nav_compo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_compo ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-weight: 600;
}

.nav_icon {

    margin-left: 32px;
    background-color: ;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(11, 2, 35, 0.10);
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}

.nav_icon svg {
    width: 24px;
    height: 24px;
}

/* header banner section style */

.header_banner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* .header_banner img {
    background-color: #0B0223;
} */

.header_banner img {
    object-fit: scale-down;
    /* width: 50%; */
    /* width: 901px; */
}

.banner_text {
    background-image: url(../images/Group\ 14.png);
    padding: 148px 240px;
    /* margin-right: 68px; */
    width: 901px;
    height: 700px;
    background-repeat: no-repeat;
    /* background-size: auto; */
}

.banner_text h3 {
    color: #0B0223;
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    line-height: normal;
}

.banner_text h1 {
    text-align: left;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: 24px; */
}

.banner_text ul {
    list-style-type: none;
    color: #534C64;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.banner_text ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn_pink {
    padding: 21px 30px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-top: 35px;
    margin-right: 24px;
}

.btn_blue {
    padding: 21px 30px;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-top: 35px;
}

/* online games section style */

.section_title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.section_title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.onlinegames_image {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    margin-left: 35px;
}

.onlinegames_image img {
    width: 242px;
    height: 300px
}

.onlinegames_image p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

/* play section style */

.play_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play_details {
    margin-left: 20px;
}

.play_title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play_title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_description {
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.play_img {
    margin-right: -300px;
}

.img-2 {
    width: 318.5px;
    height: 365.083px;
    position: relative;
    top: 120px;
    left: -800px;
}

/* icons section style */

.icons {
    margin-top: 200px;
    /* padding: 100px 10px; */
}

.icon_div {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 10px;
}

.user_icons1 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 34px;
    border: 1px solid transparent;
    color: #0B0223;
    font-size: 12px;
    font-weight: 600;
}

.icon_div:hover {
    outline: 1px solid rgb(250, 0, 133);
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user_icons2 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 34px;
    margin-top: 15px;
    border: 1px solid transparent;
    color: #0B0223;
    font-size: 12px;
    font-weight: 600;
    margin-left: 35px;
}

/* footer section style */

footer {
    margin-top: 128px;
    background-color: #0B0223;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer_logo {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_logo h2 {
    color: #FFF;
}

.footer_logo h2 span {

    color: #FF42A5;

}

.footer_logo img {
    height: 40px;
    padding-right: 10px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.90);
    margin: 32px 350px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;

}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 66px 450px;
    
}

footer small {
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
    margin-top: 28px;
}